body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  padding-top: 0.5em;
}

h2, h5 {
  text-transform: uppercase;
  /* Padding used instead of margins because whereas margins add space beyond element's box and therefore won't be colored, the inverse is true for padding */
  padding: 0.5em 0;
  margin: 0;
}

.about p {
  padding: 0 7em 2em 7em;
  margin: 0;
  text-align: left;
}

.hero-image {
  background-image: url(https://image.ibb.co/fzz87S/laptop_reversed.jpg);
  /* Sets height to full height (100%) of viewport */
  height: 100vh;
  /* Ensures background image spans the full width of the viewport */
  background-size: cover;
  /* Aligns image to center of viewport */
  background-position: center;
  background-repeat: no-repeat;
  /* Enables flex layout */
  display: flex;
  /* Vertically aligns (align-items defines how the browser distributes space between and around flex items along cross-axis of container; works like justify-content but in the perpendicular direction) */
  align-items: center;
}

.hero-text {
  margin: 0 auto;
}

.about {
  background-color: WhiteSmoke;
}

.portfolio {
  background-color: LightGrey;
}

.contact {
  background-color: WhiteSmoke;
}

/* Removes white space from sides of each column */
.col {
  padding: 0;
}

.footer {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem;
  background-color: grey;
}

.footer-tag {
  color: white;
  text-align: left;
  padding: 15px;
}

.fab {
  float: right;
  padding: 10px;
  color: white;
}

.fab:hover {
	color: #4d4d4d;
}

.form-control {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #888;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0;
  padding: 10px 0px;
}

form {
  width: 50%;
  margin: 0 auto;
}

input[type=text], input[type=email] {
  background-color: WhiteSmoke;
}

button {
  margin-top: 1em;
  margin-bottom: 2em;
}

/* Moves contact form button (from bottom center) to bottom right of form */
.bt-btn {
  margin: 0 auto;
  text-align: right;
  width: 50%;
}


@media only screen and (max-width: 600px) {
  form-control, form  {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .bt-btn {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .about p {
    padding: 0 2em 2em 2em;
  }
}
