body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  margin-bottom: 0.7em;
}

h2, h5 {
  text-transform: uppercase;
  padding-bottom: 1em;
  /* Overrides default 0.67em top and bottom margin typically displayed by browsers for h elements */
  margin: 0;
}

p {
  text-align: left;
}

.portfolio-item {
  margin-bottom: 2em;
}

.card-text {
  font-size: 0.8em;
}

.hero-image {
  background-image: url(https://image.ibb.co/fzz87S/laptop_reversed.jpg);
  /* Sets height to full height (100%) of viewport */
  height: 100vh;
  /* Ensures background image spans the full width of the viewport */
  background-size: cover;
  /* Aligns image to center of viewport */
  background-position: center;
  background-repeat: no-repeat;
  /* Enables flex layout */
  display: flex;
  /* Vertically aligns (align-items defines how the browser distributes space between and around flex items along cross-axis of container; works like justify-content but in the perpendicular direction) */
  align-items: center;
}

.hero-text {
  /* Horizontally centers hero text */
  margin: 0 auto;
}

.about, .contact {
  background-color: WhiteSmoke;
}

.portfolio {
  background-color: #e6e6e6;
}

.about {
  /* Adds consistent spacing between content of each row and row's border/edge of viewport */
  padding: 3em 7em;
}

.portfolio {
  /* Since portfolio-item has a bottom margin of 2em, decreasing this section's bottom margin by that amount */
  padding: 3em 7em 1em 7em;
}

.contact {
  /* Setting right and left padding to 0 so it doesn't decrease width of contact form inputs */
  padding: 3em 0em;
}

.footer {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5em;
  background-color: grey;
}

.footer-tag {
  color: white;
  text-align: left;
  padding: 0.5em;
}

.fab {
  float: right;
  padding: 10px;
  color: white;
}

.fab:hover {
	color: #4d4d4d;
}

.form-control {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #888;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0;
  padding: 10px 0px;
}

form {
  width: 90%;
  margin: 0 auto;
}

input[type=text], input[type=email] {
  background-color: WhiteSmoke;
}

button {
  margin-top: 1em;
  margin-bottom: 2em;
}

/* Moves contact form button (from bottom center) to bottom right of form */
.bt-btn {
  margin: 0 auto;
  text-align: right;
  width: 50%;
}

@media only screen and (max-width: 700px) {
  .about {
    /* Adds consistent spacing between content of each row and row's border/edge of viewport */
    padding: 2em 2em;
  }

  .portfolio {
    /* Since portfolio-item has a bottom margin of 2em, decreasing this section's bottom margin by that amount */
    padding: 2em 2em 0 2em;
  }

  .contact {
    padding: 2em 0;
  }

  .bt-btn {
    width: 50%;
  }

  form-control, form  {
    /* Set to 90% on screens larger than 700px; too skinny for mobile */
    width: 100%;
  }
}
